*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.swiper-slide {
  margin-right: 8px
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 35rem;
  height: 14rem;
  border-radius: 1rem;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slick-slide {
  width: 100px;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.slide-item{
  padding-left: 30px;
  position: relative;
  width: 100px;
  height: 150px;
}
.slide-item img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 1px solid rgb(0, 0, 0);
}

.slide-item h3 {
  font-weight: 600;
  font-size: 24px;
}

.food-name {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: bold;
  font-size: 16px;
}
.title{
  text-align: left;
  font-weight: bold !important;
  font-size: 22px !important;
  font-family: "Poppins";
}
.slide-item-section{
  padding: 20px;
  height: 700px;
}
.section3 .slide-item-section{
  padding: 20px;
  height:370px;
}
.card-makanan {
  border-radius: 30px;
  width: 361px;
  height: 578px;
  padding: 30px;
}
.card-tips {
  border-radius: 30px;
  width: 100%;
  height: 360px;
}
.section1 {
  height: 850px;
}
.section1 .slick-list{
  height: 700px;
}
.section3 {
  height: 500px;
}
.section3 .slick-list{
  height: 400px;
}

.detail-card-item1 {
  font-size: 20px;
  font-family: "Poppins";
}
.detail-card-item1 img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.detail-card-tips1 img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 260px;
  width: 100%;
}
.detail-card-tips2 {
  font-weight: 500;
  font-size: 20;
  padding-left: 20px;
  padding-right: 20px;
}
.detail-card-item4 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins";
}
.detail-card-item3 img{
  border-radius: 30px;
}
.card-title{
    height: 56px;
    width: 100%;
    border-radius: 50px;
    background-color: #BB2222;
}
.body-resep {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}
.title-section {
  font-size: 24px !important;
  color: white;
  font-family: "Poppins";
}
.resep-card {
    height: 325px;
    width: 325px;
    border-radius: 50px;
    background-color: #F59E0B;
}
.resep-card img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.title-detail {
    font-size: 24px !important;
    color: white;
    margin-left: 14px;
    font-family: "Poppins";
    text-align: left;
}
.resep-kategori .resep-card img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}